<%- include("partials/header.ejs") %>

<h1>ABOUT</h1>

<div class="desc">
    <h3>NGANGGUR ADALAH SEBUAH ORGANISASI RAHASIA YANG DIBENTUK OLEH 5 ORANG PEMUDA KESEPIAN. <br> "...KARENA ITU, TOURING ADALAH JALAN HIDUP YANG HARUS KAMI TEMPUH."</h3>
</div>

<%- include("partials/footer.ejs")  %>